include LICENSE-LGPL
exclude LICENSE-BSD
include README.md
include pyproject.toml
include MANIFEST.in
exclude BENCHMARK.md
exclude requirements.txt
exclude tox.ini

recursive-include intermine314 *.py
recursive-include config *.toml

prune docs
prune tests
prune samples
prune benchmarking
prune build
prune dist

global-exclude __pycache__
global-exclude *.py[cod]
