include LICENSE-LGPL
exclude LICENSE-BSD
include README.md
include pyproject.toml
include MANIFEST.in
include setup.py
include BENCHMARK.md
include requirements.txt
include tox.ini

recursive-include src/intermine314 *.py
recursive-include src/intermine314/config *.toml

prune docs
prune tests
prune samples
prune benchmarks
prune build
prune dist
prune intermine314.egg-info

global-exclude __pycache__
global-exclude *.py[cod]
